<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        {{ partial "head-meta.html" . }}
        {{ block "schema-dot-org" . }}
        {{ end }}

        <link rel="canonical" href="{{ .Permalink }}">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        {{ with .OutputFormats.Get "RSS" }}
            <link href="{{ .RelPermalink }}" rel="alternate" type="application/rss+xml" title="{{ $.Site.Title }}" />
        {{ end }}

        {{ template "_internal/google_analytics_async.html" . }}
            {{ if .Site.Params.cookie_consent_info_url }}
            {{ partial "cookie-consent.html" . }}
        {{ end }}

        {{ partial "head-custom.html" . }}
    </head>
    <body>
        {{ partial "nav.html" . }}
        <div class="position-relative overflow-hidden">
            <iframe src="{{.Site.Params.pathroot}}homeMap.html" id="mapIframe"></iframe>
            <div class="welcome">
                <div class="d-flex h-100">
                    <div class="justify-content-center align-self-center pb-5 content text-light">
                        <h1 class="display-3">
                            {{.Title}}
                        </h1>
                        {{ with .Params.subtitle }}
                            <p class="lead">{{.}}</p>
                        {{ end }}
                        <div class="pt-2">
                            <a href="/documentation/getting-started/" class="btn btn-lg btn-outline-light">
                                Get Started
                            </a>
                            <a href="/demo" class="btn btn-lg btn-outline-light ml-2">
                                Try it
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div class="container-fluid pt-4 pb-3">
                <div class="row mr-0 ml-0">
                    <div class="col-md-4 mb-2">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title">Installation</h4>
                                <p class="card-text">Select your system to download and get running Tegola.</p>
                                <a href="https://github.com/go-spatial/tegola/releases" class="btn btn-info">Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title">Documentation</h4>
                                <p class="card-text">Configure Tegola to serve your geospatial data.</p>
                                <a href="/documentation" class="btn btn-info">Docs</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-2">
                        <div class="card bg-light">
                            <div class="card-body">
                                <h4 class="card-title">Tutorials</h4>
                                <p class="card-text">Quickly get up and running with Tegola.</p>
                                <a href="/tutorials" class="btn btn-info">Tutorials</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ partial "footer.html" }}
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>

{{- /* vim: set ts=2 sw=2 et: */}}
