<!DOCTYPE html>
<html lang="{{ .Lang }}">
    <head>
        {{ partial "head-meta.html" . }}
        {{ block "schema-dot-org" . }}
        {{ end }}

        <link rel="canonical" href="{{ .Permalink }}">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>

        {{ if .RSSLink }}
            {{ "<!-- RSS 2.0 feed -->" | safeHTML }}
            <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        {{ end }}

        {{ template "_internal/google_analytics_async.html" . }}
            {{ if .Site.Params.cookie_consent_info_url }}
            {{ partial "cookie-consent.html" . }}
        {{ end }}

        {{ partial "head-custom.html" . }}

        <link rel="stylesheet" href="css/bootstrap.min.css"/>
        <link href="css/site.css" rel="stylesheet"/>
        <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    </head>
    <body>
        <iframe src="map.html" id="mapIframe"></iframe>
        <div class="position-relative">

            <div class="container-fluid pt-4 pb-3 pl-4 pr-3 heading">

                <div class="position-absolute t0 r0 b0 col-sm-3 pt-3 d-none d-sm-block">
                    <img class="img-fluid" src="images/go-spatial@2x.png"/>
                    <div class="sticky-top pt-3">
                        <h4>Sections</h4>
                        {{ .TableOfContents }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-9">
                        <h1 class="display-4">
                            {{.Title}}
                        </h1>
                        {{ with .Params.subtitle }}
                            <p class="lead text-muted">{{.}}</p>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-4 pl-4">
                <div class="row">
                    <div class="col-sm-8">
                        {{ .Content }}
                    </div>
                </div>
            </div>
        </div>

        <!--script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script-->
        <script>hljs.initHighlightingOnLoad();</script>

    </body>

</html>

{{- /* vim: set ts=2 sw=2 et: */}}
